@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root,
:host {
  --rem: 16;
  --backgroundColor: #fff;
  --primaryColor: #282828;
}

body,
html {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  padding-top: 72px;
}
