@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	background-color: hsl(240, 10%, 5%);
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
